@charset "utf-8";
/* CSS Document */

html { 
  height: 100%;
}

* { 
  padding: 0;
  margin: 0;
}
  
figure, footer, header, nav{ 
  display:block;
}

body { 
  font: normal .8em Verdana, Geneva, sans-serif;
  background: #C4E9E8 url(../images/back.png) repeat-x;
  color: #555;
}

text { 
  padding: 0 0 15px 0;
  line-height: 1.6em;
}

h1, h2, h3 {  
  font: normal 200% Verdana, Geneva, sans-serif;
  text-shadow: 1px 1px #FFF;
  margin: 0 0 15px 0;
  padding: 15px 15px 5px 0;
  color: #E5017D;
}

h2 {  
  font: normal 150% Verdana, Geneva, sans-serif;
  padding: 15px 15px 5px 0;
  color: #E5017D;
}

h3 {  
  font: normal 170%, Verdana, Geneva, sans-serif;
  padding: 5px 15px 5px 0;
  margin: 0;
  color: #5BCAFF;
}

h4 {  
  color: #888;
  font: italic 100% Verdana, Geneva, sans-serif;
  letter-spacing: normal;
  padding: 0 0 10px 0;
}

img { 
  border: 0;
}

a, a:hover { 
  outline: none;
  color: #20BFD4;
  text-decoration: underline;
}

a:hover { 
  color: #E5017D;
  text-decoration: none;}
  
/*unordered list*/ 
ul { 
  margin: 2px 0 17px 16px;
}

ul li { 
  list-style-type: square;
  margin: 0 0 6px 0; 
  padding: 0 0 0 8px;
}

/*ordered list*/
ol { 
  margin: 2px 0 0 24px;
}

ol li { 
  margin: 0 0 6px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, header, #logo, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}


#container { 
  background: transparent repeat-x bottom;
}

#main { 
  margin-top: 50px;
  width: 1000px;
  padding: 10px 20px 30px 20px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  background: #fff;
  position: relative;
  z-index: 2;
}

header { 
  width: 1000px;
  background: #FFF;
  color: #FFF;}

#logo { 
  width: 860px;
  height: 150px;
  position: relative;
  background: #FFF url(../images/headerbg.jpg) no-repeat;
} 
  
nav { 
  width: 950px;
  height: 45px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border: 10px 10px 10px 10px;
  background: #5BCAFF;
} 

#site_content { 
  width: 950px;
  background: #FFF;
  color: #555;
  overflow: hidden;
  padding: 0px 0 0px 0;
} 


#sidebar_container {  
  float: right;
  width: 202px;
}

.sidebar { 
  margin: 10px 0;
  width: 180px;
  padding: 10px;
  border: 1px solid #C9E5E9;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  background: #F5FEFF;
}

#content { 
  width: 700px;
  padding: 10px 0 25px 0px;
}

#contentbig {
	width: 950px;
	padding: 10px 0 25px 0px;
}

#contenterror{
	width: 950px;
	padding: 10px 0 25px 0px;
	display: none;
}

#button {
  font: 150% Verdana, Geneva, sans-serif; 
  border: 0;
  width: auto; 
  margin: 10px 10px 10px 10px; 
  height: auto;
  padding: 3px 3px 3px 3px;
  background: #53C7FF; 
  color: #FFF;
  text-shadow: 1px 1px #0BA0E5;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border: 8px 8px 8px 8px; 
	
}

footer { 
  width: 950px;
  height: 75px;
  padding: 25px 0px 25px 0px;
  text-align: center; 
  background: #5BCAFF;
  border-radius:10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border: 10px 10px 10px 10px;
  color: #fff;
  font: 150%, Verdana, Geneva, sans-serif;
  text-decoration: none;
  color:#FFF;
  text-shadow: 1px 1px #0BA0E5;
}
  
footer a { 
  color: #FFF;
}

footer a:hover { 
  color: #E5017D;
  text-shadow: none;
}

.form_settings { 
  margin: 20px 0 0 0;
}

.form_settings p { 
  padding: 0 0 3px 0;
}

.form_settings span { 
  float: left;
  width: 200px; 
  text-align: left;
}
  
.form_settings input{ 
  padding: 5px; 
  width: 300px; 
  font: 100% Verdana; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border: 8px 8px 8px 8px;  
}
  
.form_settings .submit { 
  font: 150% Verdana, Geneva, sans-serif; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 210px; 
  height: 35px;
  padding: 0 0 2px 0;
  cursor: pointer; 
  background: #53C7FF; 
  color: #FFF;
  text-shadow: 1px 1px #0BA0E5;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border: 8px 8px 8px 8px;  
}

.form_settings select { 
  font: 100% Verdana; 
  width: 310px;
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border: 8px 8px 8px 8px;  
}

/*formattazione tabella*/
table { 
  margin: 10px 10px 30px 10px;
}

table tr th, table tr td { 
  background: #96D7F7;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  background: #C8EAE9;
  color: #47433F;
  border-top: 1px solid #FFF;
}


/* superfish menu */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; 
}

ul.sf-menu ul li { 
  float: left;
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

/*formattazione menu*/
ul#nav { 
  float: left;
}

ul#nav ul { 
  background: #5BCAFF;
  margin-top: 0;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding:9px 25px 10px 15px;
  font: 170% Verdana;
  color: #FFF;
  text-shadow: 1px 1px #0BA0E5;
  text-decoration: none;
}

ul#nav li a:hover { 
  color: #E5017D;
  text-shadow: none;
}
